<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7Vu_UYCiesd8LxIrA0twTrrhQmaSeTFo</string>
	<key>GCM_SENDER_ID</key>
	<string>218520242511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.choekyun.ios</string>
	<key>PROJECT_ID</key>
	<string>code-challenge-bab22</string>
	<key>STORAGE_BUCKET</key>
	<string>code-challenge-bab22.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218520242511:ios:18557af2275cc4f5879d3a</string>
</dict>
</plist>